@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'tailwindcss';
@theme {
  --color-neutral: #6c81b2;
  --color-accent-1: #75cbe2;
  --color-borange: #573d00;
}